:root {
  // the variables read by the website; a copy of dark by default
  --colBody1:             black;
  --colBody2:             #{darken(lightcoral, 65%)};
  --colBody3:             #{darken(lightcoral, 61%)};
  --colBody4:             #{darken(lightcoral, 57%)};
  --colText:              white;
  --colLink:              #80d9ff;
  --colLinkVisited:       #c58af9;
  --colHighlight:         #6a2d2d;
  --colHead1:             #{darken(firebrick, 15%)};
  --colHead1Active:       #{darken(firebrick, 25%)};
  --colHead2:             firebrick;
  --colHead2Active:       #{darken(firebrick, 7.5%)};
  --colHead3:             #{lighten(firebrick, 20%)};

  // light mode (set by toggleTheme)
  --colBody1Light:        white;
  --colBody2Light:        #{darken(whitesmoke, 2%)};
  --colBody3Light:        #{darken(whitesmoke, 7%)};
  --colBody4Light:        #{darken(whitesmoke, 12%)};
  --colTextLight:         black;
  --colLinkLight:         #0066cc;
  --colLinkVisitedLight:  #551a8b;
  --colHighlightLight:    #c4e8ec;
  --colHead1Light:        #{darken(dodgerblue, 15%)};
  --colHead1ActiveLight:  #{darken(dodgerblue, 25%)};
  --colHead2Light:        dodgerblue;
  --colHead2ActiveLight:  #{darken(dodgerblue, 7.5%)};
  --colHead3Light:        #{lighten(dodgerblue, 20%)};

  // dark mode (set by toggleTheme)
  --colBody1Dark:         black;
  --colBody2Dark:         #{darken(lightcoral, 65%)};
  --colBody3Dark:         #{darken(lightcoral, 61%)};
  --colBody4Dark:         #{darken(lightcoral, 57%)};
  --colTextDark:          white;
  --colLinkDark:          #80d9ff;
  --colLinkVisitedDark:   #c58af9;
  --colHighlightDark:     #6a2d2d;
  --colHead1Dark:         #{darken(firebrick, 15%)};
  --colHead1ActiveDark:   #{darken(firebrick, 25%)};
  --colHead2Dark:         firebrick;
  --colHead2ActiveDark:   #{darken(firebrick, 7.5%)};
  --colHead3Dark:         #{lighten(firebrick, 20%)};

  // universal colours
  --colGold:              #e8b600;
  --colSilver:            #999999;
  --colBronze:            #b35c00;
  --colFooterText:        #e47f3b;
}
