@charset "UTF-8";

// disable scrollbars
::-webkit-scrollbar { display: none; } // Chrome, Safari, Opera
@mixin noscrollbar {
  -ms-overflow-style: none;  // IE and Edge
  scrollbar-width: none;     // Firefox
}

html,
body,
#main {
	height: 100%;
  font-family: Tahoma;
  font-size: 16px;
}

body {
  // background-color: brown;
	margin: 0;
  overflow: hidden;
}

input {
  position: absolute;
  opacity: 0; // hides radio button/checkbox icons
}

// the flex setup:
// http://geon.github.io/programming/2016/02/24/flexbox-full-page-web-app-layout
@mixin flexrow  { display: flex; overflow: hidden; }
@mixin flexcol  { display: flex; overflow: hidden; flex-direction: column; }
@mixin fixed    { flex: 0 0 auto; }
@mixin stretchy { flex: 1 1 auto;	}
@mixin scroll   { overflow: auto; @include noscrollbar; }

#main {
  // background-color: lightcoral;
  margin: auto;
	@include flexcol;

	> #menu {
    background-color: lightpink;
    @include fixed; height: 30px;
    @include flexrow;

    > #menuTitle   { flex: 1 }                // always visible
    > #menuPages   { flex: 3; display: none } // visible after load
    > #menuToggles { flex: 1; display: none } // visible after load
    > #loadStatus  { flex: 4 }                // invisible after load
	}

  > #settings {
    background-color: lightskyblue;
    @include fixed;
    @include flexrow;
    max-height: 0%;
    // height: 90px; line-height: 90px; align-items: center; // vertical centring
    justify-content: center; // horizontal centring
    > .settingsCol {
      @include fixed; width: 50%;
      @include flexcol;
      box-sizing: border-box;
      padding: 5px;
      
      > .settingsRow {
        @include stretchy;
        @include flexrow;

        > .settingsLabel { flex: 2 }
        > label { flex: 1 }
      }
    }
  }

	> #panelbottom {
    // background-color: green;
		@include stretchy;
    @include flexrow;
    text-align: center;

    > .panelleft {
      background-color: lighten(lightgrey, 15%);
      @include fixed; width: 80px;
      @include scroll;
    }

    > #panelright {
      // background-color: orange;
      @include stretchy;
      @include flexcol;
  
      > .paneltop {
        // background-color: indigo;
        @include fixed;
      }
      
      > #lb {
        // background-color: violet;
        @include stretchy;
        @include scroll;
      }
    }
	}

  > #panelbottomoverlay {
    @include stretchy;
    @include scroll;
    max-height: 0%;
    background-color: LightCyan;
    text-align: center;
    padding: 0px 5% !important;
  }
}

@media screen and (min-width: 600px) {
  #main {
    width: 600px;
  }
}
