@charset "UTF-8";

// disable scrollbars
::-webkit-scrollbar { display: none; } // Chrome, Safari, Opera
#navleft, #lb {
  -ms-overflow-style: none;  // IE and Edge
  scrollbar-width: none;     // Firefox
}

html,
body,
#main {
	height: 100%;
  font-family: Tahoma;
  font-size: 16px;
}

body {
  // background-color: brown;
	margin: 0;
  overflow: hidden;
}

// the flex setup:
// http://geon.github.io/programming/2016/02/24/flexbox-full-page-web-app-layout
@mixin flexrow  { display: flex; overflow: hidden; }
@mixin flexcol  { display: flex; overflow: hidden; flex-direction: column; }
@mixin fixed    { flex: 0 0 auto; }
@mixin stretchy { flex: 1 1 auto;	}
@mixin scroll   { overflow: auto; }

#main {
  // background-color: lightcoral;
  margin: auto;
	@include flexcol;

	> #navtop {
    background-color: lightpink;
    @include fixed;
    @include flexrow;
		height: auto;
	}

	> #panelbottom {
    // background-color: green;
		@include stretchy;
    @include flexrow;
    text-align: center;

    > #navleft {
      background-color: lighten(lightgrey, 15%);
      @include fixed;
      @include scroll;
      width: 80px;
      display: none;
    }

    > #panelright {
      // background-color: orange;
      @include stretchy;
      @include flexcol;
  
      > #title {
        // background-color: indigo;
        @include fixed;
      }
      
      > #lb {
        // background-color: violet;
        @include stretchy;
        @include scroll;
      }
    }
	}
}
@media screen and (min-width: 600px) {
  #main {
    width: 600px;
  }
}
