@charset "UTF-8";
@use "flex" as *;

:link    { color: var(--colLink)        }
:visited { color: var(--colLinkVisited) }
code     { font-size: 1rem } // why is this sometimes smaller by default?

body {
  position: fixed; // prevents body from sliding around viewport when navLevel expands
  height: 100%;
  width: 100%;
	margin: 0;
  overflow: hidden;
  background: var(--colBody1);
  font-family: Tahoma;
}

input {
  position: absolute;
  display: none; // removes radio button/checkbox elements
}

#main {
  height: 100%;
  max-width: 600px; // caps width on big screens
  margin: auto;
	@include flexcol;

	> #menu {
    @include fixed; height: 35px;
    @include flexrow;

    > #menuTitle   { flex: 1 }                // always visible
    > #menuPages   { flex: 3; display: none } // visible after load
    > #menuToggles { flex: 1; display: none } // visible after load
    > #loadStatus  { flex: 4 }                // invisible after load
	}

  > #settings {       // this is styled in settings.scss
    @include fixed;
    background: var(--colHead1Active);
    max-height: 0%;
  }

	> #panelbottom {
		@include stretchy;
    @include flexrow;
    text-align: center;

    > .panelleft {
      @include fixed; width: 80px;
      @include scroll;
      background: var(--colBody2);
      display: none;
    }

    > #panelright {
      @include stretchy;
      @include flexcol;
  
      > .paneltop {
        @include fixed;
      }
      
      > #lb {
        @include stretchy;
        @include scroll;
        background: var(--colBody1); // appears when table scrolls and in cell borders
        color: var(--colText);
      }
    }
	}

  > #panelbottomoverlay {
    @include stretchy;
    @include scroll;
    max-height: 0%;
    background: var(--colBody2);
    color: var(--colText);
    text-align: center;
    padding: 0px 3% !important;
  }
}

@media (width < 390px) {          // make things smaller on small screens
  html { font-size: 14px }        // sets rem to 14px
  .panelleft { max-width: 70px }
}
