#menu {
  label, #menuTitle, #loadStatus, #menuTitle>div {
    display: flex;
    justify-content: center; // horizontal centring
    align-items: center;     // vertical centring
    font-weight: bold;
    color: white;
  }
  label {
    cursor: pointer;
  }
  input + label, label + div { // set interior borders between buttons only
    border-left: solid 1px var(--colHead2Active);
  }

  > #menuTitle, #loadStatus {
    background: var(--colHead1);
  }

  > #menuPages {
    label {
      flex: 1;
      background: var(--colHead2);
      @media (hover: hover) { &:hover  { background: var(--colHead2Active) } }
      @media (hover: none ) { &:active { background: var(--colHead2Active) } }
    }
    input:checked + label { background: var(--colHead2Active) }
  }

  > #menuTitle, #menuToggles {
    label {
      flex: 1;
      background: var(--colHead1);
      @media (hover: hover) { &:hover  { background: var(--colHead1Active) } }
      @media (hover: none ) { &:active { background: var(--colHead1Active) } }
    }
    input:checked + label { background: var(--colHead1Active) }
  }
}

.circle {
  //margin: auto;
  height: 100%; aspect-ratio: 1 / 1; // needed for circle
  max-height: 20px;   // limits circle height
  line-height: 20px;  // centres text within circle height
  text-align: center; // centres text within circle width
  border-radius: 50%; // circle shape
  font-size: 14px;
  backdrop-filter: brightness(60%);
}
