input {
  position: absolute;
  opacity: 0; // hides radio button icon
}

$colourtop: DodgerBlue;
#menu {
  label, #menuTitle, #loadStatus {
    display: flex;
    justify-content: center; // horizontal centring
    align-items: center;     // vertical centring
    border: solid 1px darken($colourtop, 10%);
    font-weight: bold;
    color: white;
  }
  label {
    cursor: pointer;
  }

  > #menuTitle, #loadStatus {
    background: darken($colourtop, 20%);
  }

  > #menuPages {
    label {
      flex: 1;
      background: $colourtop;
      &:hover { background: darken($colourtop, 10%) }  
    }
    input:checked + label { background: darken($colourtop, 10%) }
  }

  > #menuToggles {
    label {
      flex: 1;
      background: darken($colourtop, 20%);
      &:hover { background: darken($colourtop, 30%) }
    }
    input:checked + label { background: darken($colourtop, 30%) }
  }
}

.circle {
  //margin: auto;
  height: 100%; aspect-ratio: 1 / 1; // needed for circle
  max-height: 20px;   // limits circle height
  line-height: 20px;  // centres text within circle height
  text-align: center; // centres text within circle width
  border-radius: 50%; // circle shape
  font-size: 14px;
  backdrop-filter: brightness(60%);
}

$colourleft: LightGray;
$animation: 0.5s;
.panelleft {
//  border-radius: 5px;
//  box-shadow: 0 0 4px -2px rgba(0,0,0,0.5);
  & .tab {
    width: 100%;
    color: white; // text colour
    overflow: hidden;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 6px;
      cursor: pointer;
      &:hover { filter: saturate(200%) }
      &::after { content: "\276F"; transition: all $animation } // icon
    }
    &-content { max-height: 0; transition: all $animation }
  }
  & button {
    border: solid 1px darken($colourleft, 10%);
    background-color: lighten($colourleft, 10%);
    width: 100%;
    height: 28px;
    font-size: 14px;
    cursor: pointer;
    &:hover { background: lighten($colourleft, 3%) }
  }
  & input:checked ~ .tab { // checked state; selects next tab elements
    &-label {
      filter: saturate(200%);
      &::after { transform: rotate(90deg) }
    }
    &-content { max-height: none }
  }
}
// messy but it'll do for now
$colBianco:  #6aa84f;
$colRicco:   #3c78d8;
$colGelato:  #f1c232;
$colPinna:   #d576aa;
$colSirena:  #e69138;
$colNoki:    #674ea7;
$colPianta:  #cc0000;
$colDelfino: #2256aa;
.BBianco  {background: lighten($colBianco,  10%)}
.BRicco   {background: lighten($colRicco,   10%)}
.BGelato  {background: lighten($colGelato,  10%)}
.BPinna   {background: lighten($colPinna,   10%)}
.BSirena  {background: lighten($colSirena,  10%)}
.BNoki    {background: lighten($colNoki,    10%)}
.BPianta  {background: lighten($colPianta,  10%)}
.BDelfino {background: lighten($colDelfino, 10%)}
.TBianco  {color: lighten($colBianco,  0%)}
.TRicco   {color: lighten($colRicco,   0%)}
.TGelato  {color: lighten($colGelato,  0%)}
.TPinna   {color: lighten($colPinna,   0%)}
.TSirena  {color: lighten($colSirena,  0%)}
.TNoki    {color: lighten($colNoki,    0%)}
.TPianta  {color: lighten($colPianta,  0%)}
.TDelfino {color: lighten($colDelfino, 0%)}
