#settings {
  label, .settingsLabel {
    display: flex;
    text-align: center;
    justify-content: center; // horizontal centring
    align-items: center;     // vertical centring
    padding: 10px 5px;
  }
  label {
    border: solid 1px var(--colHead2);
    cursor: pointer;
    &:hover { background: var(--colHead3Active) };
  }
  input:checked + label { background: var(--colHead3Active) };
}
