table {
  width: 100%;
  border-spacing: 2px 0px; // 2v, 0h
  // implicitly, border-collapse: "separate"; can also try "collapse" to use real borders rather than gaps
}
tr {
  &:nth-child(odd)  { background: var(--colBody1) }
  &:nth-child(even) { background: var(--colBody2) }
}
th, td {
  height: 28px;
  padding: 0px;
  &.selectable {
    cursor: pointer;
    @media (hover: hover) { &:hover  { background: var(--colHighlight) } }
    @media (hover: none ) { &:active { background: var(--colHighlight) } }
  }
  &.cutoff { border-bottom: 2px solid var(--colHead2) }
  &.gold   { font-weight: bold; color: var(--colGold)   }
  &.silver { font-weight: bold; color: var(--colSilver) }
  &.bronze { font-weight: bold; color: var(--colBronze) }
}
th {
  position: sticky;
  top: 0;
  background: var(--colBody1);
  z-index: 1; // needed to overcome emojis somehow
}

th {
  &.cell-a {
    &1 { width: 10% }
    &2 { width: 35% }
    &3 { width: 15% }
    &4 { width: 6.7% }
    &5 { width: 6.6% }
    &6 { width: 6.7% }
    &7 { width: 10% }
    &8 { width: 10% }
  }
  &.cell-l {
    &1 { width: 15% }
    &2 { width: 45% }
    &3 { width: 25% }
    &4 { width: 15% }
  }
  &.cell-p {
    &1 { width: 20% }
    &2 { width: 20% }
    &3 { width: 20% }
    &4 { width: 20% }
    &5 { width: 20% }
  }
}
td {
  &.cell-a {
    &1 { font-weight: bold }
    &4 { font-weight: bold;  color: var(--colGold)   }
    &5 { font-weight: bold;  color: var(--colSilver) }
    &6 { font-weight: bold;  color: var(--colBronze) }
    &7 { font-style: italic; font-size: 90% }
    &8 { font-weight: bold;  font-size: 90% }
  }
  &.cell-l {
    &4 { font-size: 90%; user-select: none } // resolves uneven vertical sizes
  }
  &.cell-p {
    &5 { user-select: none }
  }
}

#totalEntries, #tableFooter {
  font-size: 90%;
  font-style: italic;
  sub { vertical-align: text-bottom }
}
#tableFooter {
  color: var(--colFooterText);
}
