.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;

  .tooltipbox {
    visibility: hidden;
    background: var(--colHighlight);
    color: var(--colText);
    font-size: 0.875rem;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    bottom: 135%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    user-select: all; // doesn't work on iOS
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      margin-left: -5px;
      border-width: 8px;
      border-style: solid;
      border-color: var(--colHighlight) transparent transparent transparent;
    }
    > .tooltiptext {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: normal;
    }

    // positioning
    &.note  { width: 280px; margin-left: -262px; &::after {right: 11px} }
    &.score { width: 100px; margin-left:  -14px; &::after { left: 11px} }

    &.flip { // downward facing tooltip (overrides the above)
      bottom: auto; top: 148%;
      &::after {
        top: auto; bottom: 100%;
        border-color: transparent transparent var(--colHighlight) transparent;
      }
    }
  }

  &:hover .tooltipbox {
    // opted against @media (hover) cases so that tooltip can be copied on mobile
    visibility: visible;
    opacity: 1;
  }
}
