//- template variables are specified as javascript global variables
//- js is written in a block starting "-" and indented by 2 spaces
-
  var title       = "SMS IL Accurate Leaderboards" // title
  var fullTitle   = "Super Mario Sunshine Individual Level Speedruns: Accurate Leaderboard Viewer" // help title + meta description
  var dataUrl     = "data.json" // api endpoint
  var defaultSort = "p"  // default sort (p/ppct/l1/inf)
  var url         = "https://smsilview.netlify.app" // site url
  var exampleHash = "#s4s" // for example link in help
  var helpLead    =  // first paragraph of help
  `        <p>This app displays leaderboards for SMS ILs that strive towards accuracy,
            loosely as described in this <a href="https://shoutplenty.netlify.app/sms/articles/leaderboard-manifesto">manifesto</a>.
            The data is also viewable as a <b>table</b>
            <a href="https://docs.google.com/spreadsheets/d/1M_X3fvZPhbeQ2H1Arm24sHbtwWY5LEozQ4SBcMWiGPw">here</a>
            (where there are also links to the rules and other info) and as <b>raw JSON</b>
            <a href="https://script.google.com/macros/s/AKfycbz3ihGMcxM65F3tfhXq38V_tkVdiLLJ9aIUl2sYSWiKQVALD1QTaHOPBsIQQQukrjE8ow/exec">here</a>.
            It's synthesised by a tracker that monitors <b>two sources</b>:
            <a href="https://docs.google.com/spreadsheets/d/12wDUXjLqmcUuWSEXWc1fHNJc24KlfyCh0pvibZYEQM0">1</a>,
            <a href="https://docs.google.com/spreadsheets/d/1Ibq5m31pU1ZVfh4Dlo2r2Mnmk3WBiZwt6lja5bZSE1Q">2</a>.
            You can submit your own ILs to source 2.
            View past <b>snapshots</b> of the leaderboard <a href="https://history--smsilview.netlify.app">here</a>.</p>`
include html/app.pug