//- template variables are specified as javascript global variables
//- js is written in a block starting "-" and indented by 2 spaces
-
  var shortTitle  = "SMS ILs" // top-left corner + some site metadata
  var title       = "SMS IL Accurate Leaderboards" // title
  var fullTitle   = "Super Mario Sunshine Individual Level Speedruns: Accurate Leaderboard Viewer" // help title + meta description
  var dataUrl     = "https://script.google.com/macros/s/AKfycbz3ihGMcxM65F3tfhXq38V_tkVdiLLJ9aIUl2sYSWiKQVALD1QTaHOPBsIQQQukrjE8ow/exec" // api endpoint
  // comment out dataUrl to load the local data file
  var defaultSort = "p"  // default sort (p/ppct/l1/inf)
  var url         = "https://smsilview.netlify.app" // site url
  var googleSiteVerification = "kjiY3vqv_Q5J4yUW4W7ec1YJrlNk4xWinHBJfNgST-g" // for google search console
  var exampleHash = "#s4s" // for example link in help
  var helpLead    =  // first paragraph of help
  `        <p>This app displays leaderboards for SMS ILs that strive towards accuracy,
            loosely as described in this <a href="https://shoutplenty.netlify.app/sms/articles/leaderboard-manifesto">manifesto</a>.
            It reads from a tracker that monitors two sources:
            <a href="https://docs.google.com/spreadsheets/d/12wDUXjLqmcUuWSEXWc1fHNJc24KlfyCh0pvibZYEQM0">1</a>,
            <a href="https://docs.google.com/spreadsheets/d/1Ibq5m31pU1ZVfh4Dlo2r2Mnmk3WBiZwt6lja5bZSE1Q">2</a>.
            The data is also viewable in tabular form
            <a href="https://docs.google.com/spreadsheets/d/1M_X3fvZPhbeQ2H1Arm24sHbtwWY5LEozQ4SBcMWiGPw">here</a>
            (where there is also a link to the ruleset and other info) and as raw JSON
            <a href="https://script.google.com/macros/s/AKfycbz3ihGMcxM65F3tfhXq38V_tkVdiLLJ9aIUl2sYSWiKQVALD1QTaHOPBsIQQQukrjE8ow/exec">here</a>.</p>`
include html/app.pug