$colour: LightGray;
$animation: 0.5s;

// General
input {
  position: absolute;
  opacity: 0; // hides radio button icon
}
/* Accordion styles */
#navleft {
//  border-radius: 5px;
//  box-shadow: 0 0 4px -2px rgba(0,0,0,0.5);
}
.tab {
  width: 100%;
  color: white; // text colour
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background: $colour;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background: darken($colour, 10%);
    }
    &::after { // Icon
      content: "\276F";
      transition: all $animation;
    }
  }
  &-content {
    max-height: 0;
    transition: all $animation;
  }
}
button {
  border: solid 1px darken($colour, 10%);
  background-color: lighten($colour, 10%);
  color: darken($colour, 20%);
  width: 100%;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background: darken(whitesmoke, 10%);
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($colour, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: none;
  }
}
