@charset "UTF-8";
::-webkit-scrollbar {
  display: none;
}
#navleft,
#lb {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html,
body,
#main {
  height: 100%;
  font-family: Tahoma;
  font-size: 16px;
}
body {
  margin: 0;
  overflow: hidden;
}
.flexrow {
  display: flex;
  overflow: hidden;
}
.flexcol {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.fixed {
  flex: 0 0 auto;
}
.stretchy {
  flex: 1 1 auto;
}
.scroll {
  overflow: auto;
}
#main {
  margin: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
#main > #navtop {
  background-color: lightpink;
  flex: 0 0 auto;
  display: flex;
  overflow: hidden;
  height: auto;
}
#main > #panelbottom {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  text-align: center;
}
#main > #panelbottom > #navleft {
  background-color: #f9f9f9;
  flex: 0 0 auto;
  overflow: auto;
  width: 80px;
  display: none;
}
#main > #panelbottom > #panelright {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
#main > #panelbottom > #panelright > #title {
  flex: 0 0 auto;
}
#main > #panelbottom > #panelright > #lb {
  flex: 1 1 auto;
  overflow: auto;
}
@media screen and (min-width: 600px) {
  #main {
    width: 600px;
  }
}
